@import "variables.scss";
@import "widgets/player-manager/eww.scss";

* { all: unset; }

.bar {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba($bar-bg, .4);
}

tooltip.background {
    background-color: #0f0f17;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}
