@define-color bar-bg rgba(21, 18, 27, 0.4);
@define-color main-color #4e9dc2;

@define-color groups-bg #191724;
@define-color center-bg #313244;

@define-color urgent #dc0000;

@define-color tool-bg #1e1e2e;
@define-color tool-color #cdd6f4;
@define-color tool-border #89b4fa;

@define-color ws-color #cdd6f4;

@define-color ws-act-bg #30cfbb;
@define-color ws-act-color #313244;

@define-color ws-hvr-bg #f5c2e7;
@define-color ws-hvr-color #313244;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 10px;
}

window#waybar {
  background: @bar-bg;
  color: #ebbcba;
}

.modules-left,
.modules-right {
  margin-left: 22px;
  margin-right: 22px;
}

/* basic styles for groups */
#media,
#hyprland,
#hardware,
#sub-sound-bat {
  background: @groups-bg;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 22px;
}

/* .modules-center { */
/*   background-color: @center-bg; */
/*   border-radius: 0px 22px 0px; */
/* } */

/* basic styles for module */
#cpu,
#memory,
#temperature,
#battery,
#clock,
#workspaces,
#window,
#bluetooth,
#pulseaudio,
#custom-updates,
#custom-power,
#custom-media,
#custom-media-prev,
#custom-media-next,
#backlight-slider,
#network,
#user,
#submap,
#tray {
  color: @main-color;
  opacity: 1;
  margin: 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock,
#hyprland,
#hardware,
#sub-sound-bat {
  margin: 5px;
  background: @groups-bg;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 22px;
}

tooltip,
#tray menu {
  opacity: 0.9;
  background: @tool-bg;
  color: @tool-color;
  border-radius: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: @tool-border;
}

#user,
#battery {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 22px 0px;
}

#user {
  color: aqua;
  background-color: #071f15;
}

#workspaces button {
  color: @ws-color;
  text-shadow: none;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  color: @ws-act-color;
  background: @ws-act-bg;
  margin: 0px 5px 0px 5px;
  padding: 0px 12px 0px 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  color: @ws-hvr-color;
  background: @ws-hvr-bg;
  padding: 0px 8px 0px 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent:not(.active):not(.urgent) {
  color: @ws-act-bg;
}

#workspaces button.urgent {
  color: #ffffff;
  background-color: @urgent;
}

#workspaces button.focused {
  color: #ffffff;
  background: #191724;
}

#media {
  min-width: 50px;
}

#media  * {
  color: #F7748D;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#media .custom-spotify {
  color: #1DB954;
}

#clock {
  color: #f6c177;
}

#workspaces {
  padding: 0px;
}

#memory {
  color: #ffffff;
}

#temperature.critical {
  color: @urgent;
}

#pulseaudio {
  color: #eb2089;
}

#custom-power {
  color: #f5a500;
}

#network {
    color: #1ecbe1;
}

#cpu {
  color: #ff671f;
}

#temperature {
  color: #97f993;
}

#backlight-slider {
  min-width: 100px;
}

#backlight-slider slider {
  background-color: @ws-act-bg;
  background-image: none;
  border-radius: 22px;
  box-shadow: none;
}

#backlight-slider trough,
#backlight-slider highlight {
  border-radius: 5px;
}

#backlight-slider trough {
  background-color: black;
}

#backlight-slider highlight {
  background-color: @tool-border;
}

#battery.warning:not(.charging) {
  color: #ffcc00;
}

#battery.critical:not(.charging),
#tray .needs-attention {
  background-color: #f38ba8;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray, #network, #custom-power {
  background-color: @groups-bg;
  border-radius: 22px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

#tray {
  padding-top: 8px;
  padding-bottom: 8px;
}

#tray menu {
  opacity: 1;
}

#tray * {
  border-radius: 22px;
}

#tray .passive {
  background-color: rgba(137, 180, 250, .4);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

